<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1>Mr Cocktail</h1>
    <p>Create &amp; discover new cocktails</p>
    <%= link_to "Explore", "#", class: "btn btn-primary btn-lg btn-square btn-outline btn-inverted" %>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 heading">
      <%= link_to "Add a drink", new_cocktail_path, class: "pull-right btn btn-primary" %>
      <h2>All cocktails</h2>
      <hr>
    </div>

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="card" style="background: linear-gradient(to bottom, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.3) 100%), url(<%= cocktail.image %>);">
          <!--<div class="card-category">Category</div>-->
          <div class="card-description">
            <h3><%= cocktail.name %></h3>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
