<div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 50%), url(<%= @cocktail.image %>);">
  <div class="banner-content">
    <h2><%= @cocktail.name %></h2>
    <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-primary btn-lg btn-outline btn-inverted" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <hr>

      <h3>Ingredients</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> of <%= dose.ingredient.name %>
            <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>

      <%= link_to "â† Back to cocktails", cocktails_path, class: "btn btn-default" %>

      <%= render "/doses/form", cocktail: @cocktail, dose: @dose %>

    </div>
  </div>
</div>
