<h2><%= @cocktail.name %></h2>
<hr>

<h3>Ingredients</h3>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> of <%= dose.ingredient.name %>
      <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "â† Back to cocktails", cocktails_path, class: "btn btn-default" %>

<%= link_to "+ Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>


<%= render "/doses/form", cocktail: @cocktail, dose: @dose %>
